{% extends 'base.html' %}

{% block content %}
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8">
        <h1>Tweets</h1><br><br>
        {% for tweet in tweets %}
          <div class="alert alert-info" role="alert">
            {{ tweet.body }}
            <br>
            <small class="test-muted">
              {{ tweet.created_at }}
              <br>
              @{{ tweet.user.username }}
            </small>
          </div>
          <br>
        {% endfor %}
      </div>
      <div class="col-md-4">
        {% if form %}
          <form method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
              Tweet
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
