{% extends 'base.html' %}
{% block content%}

{% if profile %}

    <h1>{{ profile.user.username }}'s Profile</h1>

    <strong>Follows</strong></br>
    {% for follow in profile.follows.all %}
    <a href="{% url 'profile' follow.user.id%}">{{ follow }}</a><br/>

    {% endfor %}

    </br></br>
    <strong>Followed By</strong></br>
    {% for follow in profile.followed_by.all %}
    <a href="{% url 'profile' follow.user.id%}">{{ follow }}</a><br/>

    {% endfor %}

{% endif %}

{% endblock %}